<% unless goal.nil? %>
  <% experiment_class = "experiment experiment_with_goal" %>
<% else %>
  <% experiment_class = "experiment" %>
<% end %>

<% experiment.calc_winning_alternatives %>

<div class="<%= experiment_class %>" data-name="<%= experiment.name %>" data-complete="<%= experiment.has_winner? %>">
  <div class="experiment-header">
    <h2>
      Experiment: <%= experiment.name %>
      <% if experiment.version > 1 %><span class='version'>v<%= experiment.version %></span><% end %>
      <% unless goal.nil? %><span class='goal'>Goal:<%= goal %></span><% end %>
      <% metrics = @metrics.select {|metric| metric.experiments.include? experiment} %>
      <% unless metrics.empty? %>
        <span class='goal'>Metrics:<%= metrics.map(&:name).join(', ') %></span>
      <% end %>
    </h2>

    <% if goal.nil? %>
      <div class='inline-controls'>
        <small><%= experiment.start_time ? experiment.start_time.strftime('%Y-%m-%d') : 'Unknown' %></small>
        <%= erb :_controls, :locals => {:experiment => experiment} %>
      </div>
    <% end %>
  </div>
  <table>
    <% alternatives = experiment.alternatives %>
    <% scores = @scores.select {|score| score.experiments.include? experiment} %>
    <tr>
      <th/>
      <% alternatives.each do |alternative| %>
        <th><%= alternative.name %></th>
      <% end %>
      <th>Totals</th>
    </tr>
    <tr>
      <td>Participants</td>
      <% total_participants = 0 %>
      <% alternatives.each do |alternative| %>
        <td><%= alternative.participant_count %></td>
        <% total_participants += alternative.participant_count %>
      <% end %>
      <td><%= total_participants %></td>
    </tr>
    <tr>
      <td>Non-finished</td>
      <% total_unfinished = 0 %>
      <% alternatives.each do |alternative| %>
        <td><%= alternative.unfinished_count %></td>
        <% total_unfinished += alternative.unfinished_count %>
      <% end %>
      <td><%= total_unfinished %></td>
    </tr>
    <tr>
      <td>Completed</td>
      <% total_completed = 0 %>
      <% alternatives.each do |alternative| %>
        <td><%= alternative.completed_count(goal) %></td>
        <% total_completed += alternative.completed_count(goal) %>
      <% end %>
      <td><%= total_completed %></td>
    </tr>
    <tr>
      <td>Conversion Rate</td>
      <% alternatives.each do |alternative| %>
        <td>
          <%= number_to_percentage(alternative.conversion_rate(goal)) %>%
          <% if experiment.control.conversion_rate(goal) > 0 && !alternative.control? %>
            <% if alternative.conversion_rate(goal) > experiment.control.conversion_rate(goal) %>
              <span class='better'>
                +<%= number_to_percentage((alternative.conversion_rate(goal)/experiment.control.conversion_rate(goal))-1) %>%
              </span>
            <% elsif alternative.conversion_rate(goal) < experiment.control.conversion_rate(goal) %>
              <span class='worse'>
                <%= number_to_percentage((alternative.conversion_rate(goal)/experiment.control.conversion_rate(goal))-1) %>%
              </span>
            <% end  %>
          <% end %>
        </td>
      <% end %>
      <td>N/A</td>
    </tr>
    <tr>
      <td>Confidence</td>
      <% alternatives.each do |alternative| %>
        <td>
          <div class="box-<%=experiment.jstring(goal)%> confidence-<%=experiment.jstring(goal)%>">
            <span title='z-score: <%= round(alternative.z_score(goal), 3) %>'><%= confidence_level(alternative.z_score(goal)) %></span>
            <br>
          </div>
        </td>
      <% end %>
      <td>N/A</td>
    </tr>
    <tr>
      <td>Probability of being Winner</td>
      <% alternatives.each do |alternative| %>
        <td>
          <div class="box-<%=experiment.jstring(goal)%> probability-<%=experiment.jstring(goal)%>">
            <span title="p_winner: <%= round(alternative.p_winner(goal), 3) %>"><%= number_to_percentage(round(alternative.p_winner(goal), 3)) %>%</span>
          </div>
        </td>
      <% end %>
      <td>N/A</td>
    </tr>
    <% scores.each do |score| %>
      <tr>
        <% total_score = 0 %>
        <td><%= score.name %></td>
        <% alternatives.each do |alternative| %>
          <% score_value = alternative.score(score.name) %>
          <td><%= score_value %></td>
          <% total_score += score_value %>
        <% end %>
        <td><%= total_score %></td>
      </tr>
    <% end %>
    <tr>
      <td>Finish</td>
      <% alternatives.each do |alternative| %>
        <td>
          <% if experiment.has_winner? %>
            <% if experiment.winner.name == alternative.name %>
              Winner
            <% else %>
              Loser
            <% end %>
          <% else %>
            <form action="<%= url('experiment') + '?experiment=' + experiment.name %>" method='post' onclick="return confirmWinner()">
              <input type='hidden' name='alternative' value='<%= h alternative.name %>'>
              <input type="submit" value="Use this" class="green">
            </form>
          <% end %>
        </td>
      <% end %>
      <td>N/A</td>
    </tr>
  </table>
</div>
